@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
.sign-in{
    margin-top: 4.5rem;
    width: 400px;
    display: flex;
    flex-direction: column;

    span{
        font-weight: 500;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }

    Form{
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }

    .google-icon{
        font-size: 15px;
        position: relative;
        right: 10px;
    }
}