.product-component {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .product-img {
      width: 100%;
      height: 95%;
      background-size: cover;
      transition: transform .3s ease-out;
      background-position: center;
      margin-bottom: 5px;

      &:hover{

          &.product-img{
            opacity: 0.8;
            border: 1.5px solid #2c2c2c;
            transform: translate(0, -5px);
          }
      }
    }
  
    .product-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .product-name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .product-price {
        width: 10%;
      }
    }
  }
  