@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
.sign-up {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    width: 380px;
  
    span{
        font-weight: 500;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }

    Form{
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
    }

    .title {
      margin: 10px 0;
    }
  }
  